<header>
  <a class="nav-logo" href="index.html">
    <img src="images/logo.png" alt="Keypoint Digital">
  </a>
  <ul class="nav-links">
    <li><a href="index.html" class="active">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="servizi.html">Feature</a></li>
    <li><a href="clienti.html">Pricing</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="blogs.html">Blog</a></li>
  </ul>
  <div class="nav-social">
    <a href="https://linkedin.com/" target="_blank"><img src="images/linkedin.png" alt="LinkedIn"></a>
    <a href="https://www.facebook.com" target="_blank"><img src="images/ico_fb.png" alt="Facebook"></a>
    <a href="https://twitter.com/" target="_blank"><img src="images/ico_twitter.png" alt="Twitter"></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="images/ico_instagram.jpg" alt="Instagram"></a>
  </div>
</header>