<footer>
  <a class="footer-logo" href="index.html">
    <img src="images/logo.png" alt="Keypoint Digital">
  </a>
  <nav class="footer-links">
    <a href="index.html">Home</a>
    <a href="servizi.html">Servizi</a>
    <a href="https://www.keypointdigital.it/about">Chi siamo</a>
    <a href="https://www.keypointdigital.it/clienti">Dicono di noi</a>
    <a href="https://www.keypointdigital.it/blogs">News</a>
    <a href="https://www.keypointdigital.it/contact">Contatti</a>
  </nav>
  <div class="footer-social">
    <a href="https://linkedin.com/" target="_blank"><img src="images/linkedin.png" alt="LinkedIn"></a>
    <a href="https://www.facebook.com" target="_blank"><img src="images/ico_fb.png" alt="Facebook"></a>
    <a href="https://twitter.com/" target="_blank"><img src="images/ico_twitter.png" alt="Twitter"></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="images/ico_instagram.jpg" alt="Instagram"></a>
  </div>
  <p class="footer-copy">© 2024 Keypoint Digital. Tutti i diritti riservati.</p>
</footer>